#card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  width: 90%;
  min-height: 16vw;
  border-radius: 12px;
  background-color: rgb(54, 54, 54);
  margin-bottom: 2em;
}