main {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid white;
  background-color: rgb(54, 54, 54);
  width: 20vw;
}
body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}
#data {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow-y: auto;
}






#react {
  width: auto;
  border-bottom: 2px solid rgb(16, 214, 171);
  margin: 0em 1em 0em 1em;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
